body {
  height: 98vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#mapDIV {
  height: 100vh;
}

table {
  width: 100%;
}

table th,
table td {
  border: 2px solid #96d4d4;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
  border-radius: 5px;
}

.table1 td:nth-child(odd),
.table1 th:nth-child(odd) {
  background-color: #d6eeee;
  width: 50%;
}

.table2 tr th {
  width: 40%;
  background-color: #d6eeee;
}

.table1 tr td {
  text-align: center;
}

.table1 caption,
.table2 caption {
  padding-top: 10px;
  padding-bottom: 0;
}

.paragraph-c {
  padding: 0;
  margin: 0;
  color: #0d12f5;
}

.paragraph-ar {
  padding: 0;
  margin: 0;
  color: green;
}

strong {
  color: black;
}

.corpo-title {
  background-color: #0d12f5;
  color: white;
  margin: 0;
  padding: 2px 0;
  border-radius: 5px;
  text-align: center;
}

.arrond-title {
  background-color: green;
  color: white;
  margin: 0;
  padding: 2px 0;
  border-radius: 5px;
  text-align: center;
}

.leaflet-popup-content p {
  padding: 2px 0;
  margin: 0;
}

/*Legend specific*/
.legend {
  padding: 5px 5px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
  border-radius:3px;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 8px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}
